NVIDIA_NIM_API_KEY=
TELEGRAM_BOT_TOKEN=
SLACK_SIGNING_TOKEN=
SLACK_APP_TOKEN=
SLACK_VERIFICATION-TOKEN=
SLACK_BOT_TOKEN=
WINDOWS_MCP_COMMAND="uvx windows-mcp"
GOOGLE_CREDENTIALS_PATH=./credentials.json
FINTECH_API_KEY=
FINTECH_API_BASE_URL=
CHROMA_PERSIST_PATH=./memory/chroma_db
SQLITE_PATH=./memory/tasks.db
